
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #5e6576; 
	font: 400 1rem/1.625rem 'EB Garamond', sans-serif;
}

h1 {
	color: #5e6576;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: #5e6576;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

h3 {
	color: #5e6576;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: #5e6576;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

h5 {
	color: #5e6576;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: #838a9c;
	font-weight: 300;
	font-size: 0.7rem;
	line-height: 1rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #5e6576;
	text-decoration: underline;
}

a:hover {
	color: #5e6576;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #6168ff;
}

.bg-gray {
	background-color: #f9f9f9;
}

.section-title {
	display: inline-block;
	margin-bottom: 0.75rem;
	padding: 0.125rem 1.75rem;
	border-radius: 30px;
	background-color: #ffe7eb;
	color: #ff5574;
	font-weight: 600;
	font-size: 0.875rem;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #2f00ff;
	border-radius: 30px;
	background-color: #2f00ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #2f00ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #2f00ff;
	border-radius: 30px;
	background-color: #2f00ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #2f00ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #2f00ff;
	border-radius: 30px;
	background-color: #2f00ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	background-color: transparent;
	color: #2f00ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}



/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 200px;
	height: 50px;
}

.navbar .logo-text {
	color: blue;
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #5e6576;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #6168ff;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #6168ff;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #d1d1d1;
}
/* end of dropdown menu */

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

.navbar .btn-solid-sm {
	border-color: #6168ff;
	background-color: #6168ff;
}

.navbar .btn-solid-sm:hover {
	background-color: transparent;
	color: #6168ff;
}


/******************/
/*     Header     */
/******************/
.header {
	padding-top: 8rem;
	padding-bottom: 5rem;
	text-align: center;
}
.header{
	background-image: url('../ui-expert/images/homepage\ back.jpg');
	background-repeat: no-repeat;
	  background-size: cover;
}

.header .h1-large {
	margin-bottom: 1.25rem;
}

.header .p-large {
	margin-bottom: 2.75rem;
}

.header .btn-solid-lg {
	display: block;
	margin-bottom: 1.75rem;
}

.header .quote {
	display: block;
	color: #222222;
}

.header .quote i {
	margin-right: 0.5rem;
	color: #222222;
}

.header .text-container {
	margin-bottom: 5rem;
}




/*portfolio*/
/*portfolio*/
/*portfolio*/

#portfolio{
	margin-top: 20px;
}

#portfolio .frame{
	width: 300px;
  height: 250px;
  border: 3px solid #eee;
  border-radius: 10px;
  background: #eee;
  margin: 5px;
  padding: 15px 10px;
}
#portfolio img{
	width: 100%;
  height: 100%;
}

	/* Services */
	/* Services */
	/* Services */
	#service h5{
		color: #2f00ff;
	}
	#service .user-pic {
		width: 150px;
		height: 150px;
		overflow: hidden;
		border-radius: 100%;
		margin: 20px auto 20px;
		transform: rotate(-30deg);
		transition: 0.5s;
	}
	#service .card-box-1:hover .user-pic {
		transform: rotate(0deg);
		transform: scale(1.1);
	}
	#service .card-box-1 {
		padding: 15px;
		background-color: rgb(199, 192, 100);
		margin: 20px 0px;
		border-radius: 10px;
		border: 1px solid #eee;
		box-shadow: 0px 0px 8px 0px #d4d4d4;
		transition: 0.5s;
	}
	#service .card-box-1:hover {
		border: 3px solid #000000;
	}
	#service .card-box-1 p {
		color: #fff;
	}
	#service .card-box-1 .btn{
		display: inline-block;
		padding: 1.375rem 2.25rem 1.375rem 2.25rem;
		border: 1px solid #fff;
		border-radius: 30px;
		background-color: #fff;
		color: #000000;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 0;
		text-decoration: none;
		transition: all 0.2s;
	}
	#service .card-box-1 .btn:hover {
		background-color: transparent;
		color: #fff; /* needs to stay here because of the color property of a tag */
		text-decoration: none;
	}
	/*end of card box 1*/
	
	#service .card-box-2:hover .user-pic {
		transform: rotate(0deg);
		transform: scale(1.1);
	}
	#service .card-box-2 {
		padding: 15px;
		background-color: rgb(106, 170, 167);
		margin: 20px 0px;
		border-radius: 10px;
		border: 1px solid #eee;
		box-shadow: 0px 0px 8px 0px #d4d4d4;
		transition: 0.5s;
	}
	#service .card-box-2:hover {
		border: 3px solid #000000;
	}
	#service .card-box-2 p {
		color: #fff;
	}
	#service .card-box-2 .btn{
		display: inline-block;
		padding: 1.375rem 2.25rem 1.375rem 2.25rem;
		border: 1px solid #fff;
		border-radius: 30px;
		background-color: #fff;
		color: #000000;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 0;
		text-decoration: none;
		transition: all 0.2s;
	}
	#service .card-box-2 .btn:hover {
		background-color: transparent;
		color: #fff; /* needs to stay here because of the color property of a tag */
		text-decoration: none;
	}
	/** end of card box 2**/
	#service .card-box-3:hover .user-pic {
		transform: rotate(0deg);
		transform: scale(1.1);
	}
	#service .card-box-3 {
		padding: 15px;
		background-color: rgb(161, 91, 194);
		margin: 20px 0px;
		border-radius: 10px;
		border: 1px solid #eee;
		box-shadow: 0px 0px 8px 0px #d4d4d4;
		transition: 0.5s;
	}
	#service .card-box-3:hover {
		border: 3px solid #000000;
	}
	#service .card-box-3 p {
		color: #fff;
	}
	#service .card-box-3 .btn{
		display: inline-block;
		padding: 1.375rem 2.25rem 1.375rem 2.25rem;
		border: 1px solid #fff;
		border-radius: 30px;
		background-color: #fff;
		color: #000000;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 0;
		text-decoration: none;
		transition: all 0.2s;
	}
	#service .card-box-3 .btn:hover {
		background-color: transparent;
		color: #fff; /* needs to stay here because of the color property of a tag */
		text-decoration: none;
	}
	/**end of card box 3**/
	
	#service .card-box-4:hover .user-pic {
		transform: rotate(0deg);
		transform: scale(1.1);
	}
	#service .card-box-4 {
		padding: 15px;
		background-color: rgb(112, 145, 189);
		margin: 20px 0px;
		border-radius: 10px;
		border: 1px solid #eee;
		box-shadow: 0px 0px 8px 0px #d4d4d4;
		transition: 0.5s;
	}
	#service .card-box-4:hover {
		border: 3px solid #000000;
	}
	#service .card-box-4 p {
		color: #fff;
	}
	#service .card-box-4 .btn{
		display: inline-block;
		padding: 1.375rem 2.25rem 1.375rem 2.25rem;
		border: 1px solid #fff;
		border-radius: 30px;
		background-color: #fff;
		color: #000000;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 0;
		text-decoration: none;
		transition: all 0.2s;
	}
	#service .card-box-4 .btn:hover {
		background-color: transparent;
		color: #fff; /* needs to stay here because of the color property of a tag */
		text-decoration: none;
	}
	/*end of card box 4*/
	
	#service .card-box-5:hover .user-pic {
		transform: rotate(0deg);
		transform: scale(1.1);
	}
	#service .card-box-5 {
		padding: 15px;
		background-color: rgb(100, 76, 204);
		margin: 20px 0px;
		border-radius: 10px;
		border: 1px solid #eee;
		box-shadow: 0px 0px 8px 0px #d4d4d4;
		transition: 0.5s;
	}
	#service .card-box-5:hover {
		border:3px solid #000000;
	}
	#service .card-box-5 p {
		color: #fff;
	}
	#service .card-box-5 .btn{
		display: inline-block;
		padding: 1.375rem 2.25rem 1.375rem 2.25rem;
		border: 1px solid #fff;
		border-radius: 30px;
		background-color: #fff;
		color: #000000;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 0;
		text-decoration: none;
		transition: all 0.2s;
	}
	#service .card-box-5 .btn:hover {
		background-color: transparent;
		color: #fff; /* needs to stay here because of the color property of a tag */
		text-decoration: none;
	}
	/*end of card box 5*/
	#service .card-box-6:hover .user-pic {
		transform: rotate(0deg);
		transform: scale(1.1);
	}
	#service .card-box-6 {
		padding: 15px;
		background-color: rgb(216, 104, 166);
		margin: 20px 0px;
		border-radius: 10px;
		border: 1px solid #eee;
		box-shadow: 0px 0px 8px 0px #d4d4d4;
		transition: 0.5s;
	}
	#service .card-box-6:hover {
		border: 3px solid #000000;
	}
	#service .card-box-6 p {
		color: #fff;
	}
	#service .card-box-6 .btn{
		display: inline-block;
		padding: 1.375rem 2.25rem 1.375rem 2.25rem;
		border: 1px solid #fff;
		border-radius: 30px;
		background-color: #fff;
		color: #000000;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 0;
		text-decoration: none;
		transition: all 0.2s;
	}
	#service .card-box-6 .btn:hover {
		background-color: transparent;
		color: #fff; /* needs to stay here because of the color property of a tag */
		text-decoration: none;
	}
	
		/* end of services */
	

/******************/
/*     Footer     */
/******************/
.footer {
	position: relative;
	padding-top: 8.75rem;
	padding-bottom: 7.5rem;
	text-align: center;
}

.footer .decoration-city {
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.footer h4 {
	margin-bottom: 2rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #222222;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #222222;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1.75rem;
	border-top: 1px solid #d0dae2;
	text-align: center;
}

.copyright a {
	text-decoration: none;
}

.copyright .list-unstyled,
.copyright .statement {
	opacity: 0.7;
}

.copyright .list-unstyled li {
	margin-bottom: 0.75rem;

}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #44434a; 
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #1d1d21;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 9rem;
	padding-bottom: 5rem;
	background-color: #f9f9f9;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f9f9f9;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #6168ff;
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 9rem;
	}

	.header .h1-large {
		font-size: 2.75rem;
		line-height: 3.5rem;
	}
	/* end of header */


	/* Details 2 */
	.counter .counter-container {
		text-align: left;
	}
	
	.counter .counter-cell {
		display: inline-block;
		margin-right: 3rem;
		vertical-align: top;
	}
	/* end of details 2 */


	/* Contact */
	.form-1 .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: #ffffff;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.extra-page {
		padding-top: 0.5rem;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #ffffff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-solid-sm {
		margin-top: 0;
		margin-left: 1rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 13rem;
		text-align: left;
	}

	.header .text-container {
		margin-bottom: 0;
	}

	.header .btn-solid-lg {
		margin-right: 1.5rem;
		margin-bottom: 0;
	}

	.header .btn-solid-lg,
	.header .quote {
		display: inline-block;
	}
	/* end of header */

/* end of min-width 1200px */
/* overlay*/
#overlay .container {
	margin-top: 20px;
    transform-style: preserve-3d;
}

#overlay .container .box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
	border-radius: 20px;
}

#overlay .container .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease
}

#overlay .container .box .body .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d
}

#overlay .container .box .body .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

#overlay .container .box .body .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/img5.jpg');
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg)
}

#overlay .container .box:hover .body {
    transform: rotateY(180deg)
}

#overlay .container .box .body .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #667dff, #ebebeb);
    transform: translateZ(100px)
}

#overlay .container .box .body .content div h3 {
    letter-spacing: 1px
}
/*overlay*/



/* brands*/
.container .rollers {
    flex: 0 0 230px;
	margin-top: 50px;
}

.container .start-roller {
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, white 30%, #ffffff00)
}

.container .start-roller,
.container .end-roller {
    height: 100%;
    width: 40px;
    position: absolute;
    z-index: 1
}

.container .end-roller {
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, white 30%, rgba(255, 255, 255, 0))
}

.container .rollers .wrapper {
    position: relative;
    width: 1400px;
    height: 100px;
    margin: 0 0 20px 0;
    flex: 0 0 auto
}

.container .rollers .wrapper .items-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.container .rollers .wrapper .items-container.roll-LL {
    animation-name: roll
}

.container .rollers .wrapper .items-container.roll-RL {
    animation-name: roll-reverse;
    left: 100%
}

.container .rollers .wrapper .items-container.reverse-roll-LL {
    animation-name: roll-clockwise;
    left: -100%
}

.container .rollers .wrapper .items-container.reverse-roll-RL {
    animation-name: roll-reverse-clockwise;
    left: 100%
}

@keyframes roll {
    0% {
        left: 0%
    }

    100% {
        left: -100%
    }
}

@keyframes roll-reverse {
    0% {
        left: 100%
    }

    100% {
        left: 0%
    }
}

@keyframes roll-clockwise {
    0% {
        left: -100%
    }

    100% {
        left: 0%
    }
}

@keyframes roll-reverse-clockwise {
    0% {
        left: 0%
    }

    100% {
        left: 100%
    }
}

.container .rollers .wrapper .items-container .item {
    flex: 1 1 200px;
    min-width: 0;
    margin: 20px
}

.container .rollers .wrapper .items-container .item .company {
    filter: grayscale(100%);
    opacity: 0.2;
    width: 100%;
    object-fit: contain
}

.container .rollers .wrapper .items-container .item .company:hover {
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer
}

.container img {
    vertical-align: middle
}

@media (max-width: 575.5px) {
    .content {
        padding: 20px
    }

    .content .container {
        padding: 20px
    }

    .h3 {
        font-size: calc(1.1rem + .6vw)
    }

    .fs-5 {
        font-size: 0.9rem !important
    }

    .container .rollers .wrapper .items-container .item .company {
        opacity: 0.4
    }
}
/* brands*/

/*footer*/
.footer{
	margin-top: 10px;
}

.footer span{
	font-size: 20px;
}
/*portfolio*/

#portfolio .container{
	display: flex;
	text-align: center;
}
#portfolio h4{
	color: darkslategrey ;
}
#portfolio h5{
	color: darkslategrey;
}

#portfolio h5 a {
	color: rgb(77, 77, 77);
	font-size: 0.9em;
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-family: 'Dosis', sans-serif;
  }
  
  /*effect-underline*/
  #portfolio a.effect-underline:after {
	  content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 2px solid blue;
	margin-top: 10px;
	opacity: 0;
	  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	  transition: opacity 0.35s, transform 0.35s;
	  -webkit-transform: scale(0,1);
	  transform: scale(0,1);
  }
  
  #portfolio a.effect-underline:hover:after {
	opacity: 1;
	  -webkit-transform: scale(1);
	  transform: scale(1);
  }
/* effect-shine */
#portfolio a.effect-shine:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(69, 0, 230, 0.6) 30%, rgb(73, 38, 197) 50%, rgba(0, 38, 255, 0.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
	from {
	  -webkit-mask-position: 150%;
	}
	
	to {
	  -webkit-mask-position: -50%;
	}
  }  

  /*ABOUT*/

  #About{
	  background-image: url('../ui-expert/images/dark-blue-wallpaper-preview.jpg');
	  background-repeat: no-repeat;
	  background-size: cover;
	  margin-top: 50px;
  }
  #About h3{
	  color: #ffffff;
  }
  #About h4{
	  color: rgb(132, 130, 255);
  }
  hr.solid {
	border-top: 2px solid #bbb;
  }
  #About h2{
	color: #ffffff;
	margin-left: 50px;
  }
  #About span{
	color: #cecece;
	margin-left: 50px;
  }
  #About a{
	  margin-left: 800px;
	  margin-top: -70px;
  }
  /**about**/
  /**blog**/
  #blog{
	margin-top: 30px;
	margin-left: 300px;
    text-align: center;
	justify-content: center;
  }
  #blog .container {
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}

p {
    margin: 0px
}

#blog .card {
    width: 280px;
    height: 520px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}

.card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #1b9ce3;
    animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card .pic {
    position: relative;
}

.card .pic img {
    width: 100%;
    height: 280px;
    object-fit: contain;
}

.card .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    background-color: #1b9ce3;
    color: white;
    position: absolute;
    bottom: 0px;
    transition: all ease
}

.card .date .day {
    font-size: 14px;
    font-weight: 600
}

.card .date .month,
.card .date .year {
    font-size: 10px
}

.card .text-muted {
    font-size: 12px
}

.card:hover .text-muted {
    color: #fff !important
}

.card .content {
    padding: 0 20px
}

.card .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #1b9ce3;
    border-radius: 25px;
    font-size: 12px;
    border: none
}

.card:hover .content .btn {
    background: #fff;
    color: #1b9ce3;
    box-shadow: #0000001a 0px 3px 5px
}

.card .content .btn .fas {
    font-size: 10px;
    padding-left: 5px
}

.card .content .foot .admin {
    color: #1b9ce3;
    font-size: 12px
}

.card:hover .content .foot .admin {
    color: #fff
}

.card .content .foot .icon {
    font-size: 12px
}
/****workflow****/
/****workflow****/
/****workflow****/


#workflow .wrapper{
	display: flex;
	align-items: center;
}
#workflow li{
	font-size: 20px;
	list-style:disc;
}
#workflow .list_wrap ul li .icon:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.list_wrap ul li .i-1 .icon:before{
	background-position: 0 0;
	width: 75px;
	height: 73px;
}
#workflow h5{
	font-size: 20px;
	color: black;
}
/***SUCCESS STORIES***/
/***SUCCESS STORIES***/
/***SUCCESS STORIES***/


#success .containerm {
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: 20px;
}

#success .image {
    overflow: hidden;
    height: 300px;
    width: 300px;
    position: relative;
	border-radius: 20px;
	border: 2px solid black;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    background-color: #555
}

#success .image:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-color: transparent;
    opacity: 0.8;
    border-radius: 50%;
    transition: .8s
}

#success .image:hover:after {
    transform: translate(-50%, -50%)
}

#success .image:hover img {
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg)
}

#success img {
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s
}

#success p {
    position: absolute;
	font-size: 50px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .3s;
    transition-timing-function: ease-in
}
#success h4{
	font-size: 15px;
	color: silver;
}

#success .image:hover p {
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}